html {
    background-color: #ffffff;
    font-family: 'Avenir';
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    padding: 4%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 2% 0;
    font-size: 2.5rem;
  }

  /* import custom font */ 
  @font-face {
    font-family: 'font-customf2b';
    src: url('/fonts/font-customf2b.woff');
  }

  /* light/dark mode */
  html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }
  
  /* nav styles 
  .hamburger {
    padding-left: 5px;
    cursor: pointer;
    display: none;
    justify-content: right;
    border: solid pink;
  }
  
  .hamburger .line {
    display: none;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #000000;
    
  }
 
  .nav-links {
    width: 100%;
    top: 5rem;
    display: none;
    margin: 0;
    font-family: 'Avenir Medium';
  }

  .nav-links ul {
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    display: block;
    margin-bottom: 0;
  }
  
  .nav-links a {
    display: inline;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: none;

  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    color:fuchsia;
    font-family: cursive;
  }

  .nav-links a:active {
    color:fuchsia;
    font-family: cursive;
  }
  

  @media (min-width: 800px) {
    
    .nav-links {
      display: inline;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline;
    }

    .hamburger {
        display: none;
      }
    }
      
    .nav-links li {
      padding-left: 0px;
      padding-right: 5px;
      display: inline;
      text-decoration: underline;
      text-underline-offset: 2px;
      margin-right: 18px;
  
  }

  @media (max-width: 800px) {
    
    .nav-links {
      display: inline;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline;
    }

    .hamburger {
        display: none;
      }
    }
      
    .nav-links li {
      padding-left: 0px;
  
  }
   

  
  @media (min-width: 1600px) {
    * {
      transform: scale(1.04);
      transform-origin: top left;
    }

  }

 */