html {
    background-color: #ffffff;
    font-family: 'Avenir';
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* import custom font */ 
  @font-face {
    font-family: 'font-customf2b';
    src: url('/fonts/font-customf2b.woff');
  }

  /* light/dark mode */
  html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }
  
  /* nav styles 
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }
  */ 
  .nav-links {
    width: 100%;
    top: 5rem;
    display: none;
    margin: 0;
    font-family: 'Avenir Medium';
  }

  .nav-links ul {
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    display: block;
    margin-bottom: 0;
  }
  
  .nav-links a {
    display: inline;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: none;

  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration:line-through wavy;
    text-decoration-color: maroon;
    text-decoration-thickness: 1.4px;
    color: maroon;
  }

  .nav-links a:active {
    text-decoration:line-through wavy;
    text-decoration-color: maroon;
    text-decoration-thickness: 2px;
    color: maroon;
  }
  
 
  .expanded {
    display: unset;
  }


    .nav-links {
      display: inline;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline;
      padding: 0;
    }

    .hamburger {
        display: none;
      }

      
  

 