---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Work and Examples";
---

<BaseLayout pageTitle={pageTitle}>

        <p>I work in photography, graphic design, videography, and some light coding!</p>

        <div>
            <h3>Film Photography</h3>
            <img src="https://cdn.myportfolio.com/185f8eaf-b422-4b1d-9aaf-02b71649f7f0/8a906464-8d10-457c-922f-06f1cf00ae64_rw_1920.JPG?h=fdd007fe76f94e0b1ff79dc4fde2a576" style="width:50%; height:50%"/>
        </div>
</BaseLayout>