---
import Social from './Social.astro';
import Navigation from './Navigation.astro';
---
<!-- 
<style>

    footer {
        padding-top:100px;
        padding-bottom: 50px;
        margin: 60px;
        font-size: 12px;
        text-align: center;
        color:rgb(11, 12, 12);
        min-height: 100vh;
        background-color: red;

    }
    #socials {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
</style> 

<footer>

<span>portfolio website by mckenzie ryan © 2025</span>
-->
    <!-- 
    <div id="socials">
    <Social platform="instagram" username="thisspotstaken" />
    <Social platform="youtube" username="@McKenzieRyan" />
    <Social platform="behance" username="mckhoff" />
    </div> -->

<footer>
<ul class="footer-items">
    <li class="job-title">photographer | nyc</li>
    <li><a href="https://www.instagram.com/thisspotstaken/">@instagram</a></li>
    <li><a href="mailto:knockknock@mckenzieryan.co" class="email">hello@mckenzieryan.co</a></li>
</ul>
</footer>

<style>

@media screen and (max-width: 800px) {
      footer {
       display: none;
      }
}
@media screen and (min-width: 800px) {
      footer {
        bottom: 0;
        left: 0;
        line-height: 20px;
        font-family: 'Avenir';
        font-size: 12px;
        text-transform:uppercase;
        position: fixed;
        width: 100%;
        padding: 20px;
        
      }

    ul {
        list-style-type: none;
    }  
        
    li {
        float: left;
        width: 33.3%;
        line-height: 20px;
        font-size: 12px;
          
    }

    li a {
          display: block;

    }

      a {
        color: black;
        text-decoration: none;
        float: left;
        text-align: center;
      }


      a:hover {
        color:chartreuse;
        text-decoration:underline;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 2px;
      }
}

    
/*
      .nav-links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        float: none;

      }

*/

    .job-title {
        text-align: left;
    }
      .email {
        text-decoration: none;
        text-align: right;
        float: right;
      }

      
}

/**

.top {
  float: none;
  display: block;
}

header {
        font-family: 'Avenir Medium';
        border: none;
        display:block;
        float: none;
        }

      a {
        color: black;
        font-size: 14px;
        text-decoration: none;
        
       }
       
       a:link {
        text-decoration: none;
       } 

       a:visited {
        text-decoration: none;
       }

      .email a:hover {
        color:rgb(210, 210, 210);
       }

       a:active {
        color:fuchsia;
       }
 */
     
</style>
