---
import Social from './Social.astro';
---

<style>

    footer {
        padding:10px;
        margin: 60px;
        font-size: 12px;
        text-align: center;
        color:rgb(11, 12, 12);
        background-color:;
    }
    #socials {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
</style>

<footer>

<span>portfolio website by mckenzie ryan © 2025</span>
    <!-- 
    <div id="socials">
    <Social platform="instagram" username="thisspotstaken" />
    <Social platform="youtube" username="@McKenzieRyan" />
    <Social platform="behance" username="mckhoff" />
    </div> -->
</footer>