---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header class="header">
        <a href="/">McKenzie Ryan</a>
        <a href="mailto:knockknock@mckenzieryan.co">knockkock@mckenzieryan.co</a>
        <Navigation />
</header>

<style>
@media screen and (min-width: 800px) {
      header {
        padding-top: 18px;
        padding-left: 18px;
        padding-right: 0px;
        padding-bottom: 18px;
        font-family: 'Avenir Medium';
        border: none;
      }
      
}

header {
        padding-top: 18px;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 18px;
        font-family: 'Avenir Medium';
        border: none;
        width: 580px;
        }

      a {
        color: black;
        font-size: 14px;
        margin-right: 120px;
        border: none;
        border-color: red;
       }
       
       a:link {
        text-decoration: none;
       } 

       a:visited {
        text-decoration: none;
       }

       a:hover {
        text-decoration:line-through wavy;
        text-decoration-color: maroon;
        text-decoration-thickness: 1.4px;
        color: maroon;
       }

       a:active {
        text-decoration:line-through wavy;
        text-decoration-color: maroon;
        text-decoration-thickness: 2px;
        color: maroon;
       }
</style>