---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header class="header">
        <a href="mailto:knockknock@mckenzieryan.co" class="email">hello@mckenzieryan.co</a>
    </div>
</header>

<style>

@media screen and (max-width: 800px) {
      header {
       display: none;
      }
}
@media screen and (min-width: 800px) {
      header {
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 12px;
        padding-right: 12px;
        border: none;
        line-height: 14px;
        font-family: 'Avenir';
        font-size: 14px;
        text-transform:uppercase;
        position: relative;
        width: 100%;
        
      }

      a {
        color: black;
        font-size: 14px;
        text-decoration: none;
        width: 20%;
        float: left;
        text-align: center;
      }


      a:hover {
        color:chartreuse;
        text-decoration:underline;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 2px;
      }

      .name {
        font-family: "Avenir";
        font-size: 14px;
        color: black;
        text-decoration: none;
        text-align: left;

      }

    
/*
      .nav-links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        float: none;

      }
*/

      .email {
        text-decoration: none;
        text-align: right;
        float: right;
      }

      
}

/**

.top {
  float: none;
  display: block;
}

header {
        font-family: 'Avenir Medium';
        border: none;
        display:block;
        float: none;
        }

      a {
        color: black;
        font-size: 14px;
        text-decoration: none;
        
       }
       
       a:link {
        text-decoration: none;
       } 

       a:visited {
        text-decoration: none;
       }

      .email a:hover {
        color:rgb(210, 210, 210);
       }

       a:active {
        color:fuchsia;
       }
 */
     
</style>