---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header class="header">
        <a href="/" class="name">McKenzie Ryan</a>
        <a href="mailto:knockknock@mckenzieryan.co" class="email">knockkock@mckenzieryan.co</a>
        <Navigation />
</header>

<style>
@media screen and (min-width: 800px) {
      header {
        padding-top: 18px;
        padding-left: 18px;
        padding-right: 0px;
        padding-bottom: 18px;
        font-family: 'Avenir Medium';
        border: none;
        position: relative;
      }
      
}

header {
        padding-top: 18px;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 18px;
        font-family: 'Avenir Medium';
        border: none;
        width:700px;
        }

      a {
        color: black;
        font-size: 14px;
        margin-right: 120px;
       }
       
       a:link {
        text-decoration: none;
       } 

       a:visited {
        text-decoration: none;
       }

      .email a:hover {
        color:rgb(210, 210, 210);
       }

       a:active {
        color:fuchsia;
       }
</style>