---
import Hamburger from './Hamburger.astro';
---

<header>
        <Hamburger />
        <a href="/">McKenzie Ryan</a>
        <a href="mailto:knockknock@mckenzieryan.co">knockkock@mckenzieryan.co</a>
</header>