---

---
<div id="nav">
<ul class="nav-links">
    <li><a href="/work/">Work</a></li>
    <li><a href="/about/">CV</a></li>
    <li><a href="/contact/">Contact</a></li>
</ul>
</div>

<style>
/*
#nav {
        padding: 0px;
        border: none;
        width:300px;
        max-height: 800px;
    }

#nav ul {
    display: inline;
    padding-left: 18px;
    padding-right: 5px;

}

#nav li {
    display:inline;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-right: 18px;
} 
#nav ul {
    padding-left: 18px;
    padding-right: 5px;

}

#nav li {
    display:inline;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-right: 18px;
} */

@media (min-width:800px) {
    #nav {
        padding-top: 0;
        padding-left: 0px;
        padding-bottom: 18px;
        border: solid;
        max-height: 800px;
        float: left;
        width: 220px;
    }
    #nav li {
    display: block;
    text-decoration: none;
}
}

#nav {
        padding-top: 0;
        padding-left: 0px;
        padding-bottom: 18px;
        border: none;
        max-height: 800px;
        float: left;
        width: 220px;
    }
    #nav li {
    display: block;
    text-decoration: none;
    }

</style>